
<!-- Copied from http://uxart.io/downloads/metavideo-html/inc/more-uploads-1.html by Cyotek WebCopy 1.8.0.652, Thursday, September 3, 2020, 10:11:11 PM -->
                <article class="col-sm-3 video_post">
                    <div class="inner row m0">
                        <div class="row screencast m0">
                            <img src="../images/media/6.jpg" alt="" class="cast img-responsive">
                            <a href="../single-video.html" class="play_btn"></a>
                            <div class="media-length">17:30</div>
                        </div>
                        <div class="row m0 post_data">
                            <div class="category"><a href="category.html"><img src="../images/icons/catagory.png" alt="">Art</a></div>
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="../images/icons/views.png" alt="">3,45,346</a></div> 
                        </div> 
                    </div>
                </article>
                <article class="col-sm-3 video_post">
                    <div class="inner row m0">
                        <div class="row screencast m0">
                            <img src="../images/media/7.jpg" alt="" class="cast img-responsive">
                            <a href="../single-video.html" class="play_btn"></a>
                            <div class="media-length">17:30</div>
                        </div>
                        <div class="row m0 post_data">
                            <div class="category"><a href="category.html"><img src="../images/icons/catagory.png" alt="">Art</a></div>
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="../images/icons/views.png" alt="">3,45,346</a></div> 
                        </div> 
                    </div>
                </article>
                <article class="col-sm-3 video_post">
                    <div class="inner row m0">
                        <div class="row screencast m0">
                            <img src="../images/media/8.jpg" alt="" class="cast img-responsive">
                            <a href="../single-video.html" class="play_btn"></a>
                            <div class="media-length">17:30</div>
                        </div>
                        <div class="row m0 post_data">
                            <div class="category"><a href="category.html"><img src="../images/icons/catagory.png" alt="">Art</a></div>
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="../images/icons/views.png" alt="">3,45,346</a></div> 
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post">
                    <div class="inner row m0">
                        <div class="row screencast m0">
                            <img src="../images/media/9.jpg" alt="" class="cast img-responsive">
                            <a href="../single-video.html" class="play_btn"></a>
                            <div class="media-length">17:30</div>
                        </div>
                        <div class="row m0 post_data">
                            <div class="category"><a href="category.html"><img src="../images/icons/catagory.png" alt="">Art</a></div>
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="../images/icons/views.png" alt="">3,45,346</a></div> 
                        </div> 
                    </div>
                </article>
                <div class="row m0">
                    <div class="clearfix"></div>
                    <a href="inc/more-uploads-2.html" class="load_more_videos">Load more videos</a>
                </div><!-- Copied from http://uxart.io/downloads/metavideo-html/inc/more-uploads-1.html by Cyotek WebCopy 1.8.0.652, Thursday, September 3, 2020, 10:11:11 PM -->
