<template>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Images From Pixabay</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <input type="text" v-model="query" @change="searchPixaImages(query)" class="form-control" placeholder="Search & Hit Enter"/>
            </div>
            </div>
            <div class="row media-grid content_video_posts">
            <article v-for="image in pimages" :key="image.id" class="col-sm-6 video_post postType3" style="display:block;">
                <div class="inner row m0">
                    <a v-bind:href="image.webformatURL"><div class="row screencast m0" style="height: 200px; overflow: hidden;">
                        <img v-bind:src="image.webformatURL" alt="" class="cast img-responsive">
                        <a v-bind:href="image.webformatURL" class="play_btn"></a>
                    </div></a>
                    <div class="row m0 post_data">
                        <div class="fleft date">Tags: <span>{{ image.tags }}</span></div>
                        <div class="fright views"><a  @click.prevent="uploadImage(image.largeImageURL)" style="color: red; font-weight: bold;" href="#"><i class="bx bx-upload" style="color: red; font-weight: bold;"></i>Upload To Cloud</a></div>
                    </div>
                </div>
            </article>

        </div>
        </div>
        ...
      </div>
    </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Upload Form mounted.')
        },
        data() {
            return {
              isFinished: false,
              row: 0, // Record selection position
              rowperpage: 9, // Number of records fetch at a time
              buttonText: 'Load More',
              pimages: [],
              message: '',
              query: ''
            };
        },
        methods: {
            moment: function (value) {
                return moment(value);
            },
            getPixaImages: function(){
                let self = this;
                var API_KEY = '5556727-d61b436bac3dc5a15b0b438a0';
                var URL = "https://pixabay.com/api/?key="+API_KEY+"&image_type=photo";
                $.getJSON(URL, function(data){
                if (parseInt(data.totalHits) > 0)
                    self.pimages = data.hits;
                    // console.log(self.pimages)
                    // $.each(data.hits, function(i, hit){ self.pimages = hit; console.log(hit); });
                else
                    console.log('No hits');
                });
        },
        searchPixaImages: function(query){
                console.log(query);
                let self = this;
                var API_KEY = '5556727-d61b436bac3dc5a15b0b438a0';
                var URL = "https://pixabay.com/api/?key="+API_KEY+"&image_type=photo"+"&q="+encodeURIComponent(query);
                $.getJSON(URL, function(data){
                if (parseInt(data.totalHits) > 0)
                    self.pimages = data.hits;
                    // console.log(self.pimages)
                    // $.each(data.hits, function(i, hit){ self.pimages = hit; console.log(hit); });
                else
                    console.log('No hits');
                });
        },
        uploadImage: function(url){
                axios.post('/api/pixa-upload', {url: url})
                .then(function (response) {
                    // currentObj.message = response.data.message;
                    console.log(response.data.message);
                    // Returning Errors
                    if (response.data.status== 'success'){
                        Event.$emit('imageUploaded');

                        $.toast({
                            heading: 'Well Done!',
                            text: response.data.message,
                            icon: 'success',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#5ba035',  // To change the background
                            position: 'top-right',
                            icon: 'success',
                        });
                    }
                    else if(response.data.status== 'error'){
                        $.toast({
                            heading: 'Oh snap!',
                            text: response.data.message,
                            icon: 'error',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#bf441d',  // To change the background
                            position: 'top-right',
                            icon: 'error',
                        });
                    }

                })
                .catch(function (error) {
                    // currentObj.message = error;
                    console.log(error);
                    if (error.response) {
                        if (error.response.status=== 413){
                        $.toast({
                                heading: 'Oh snap!',
                                text: 'Oops File too Large',
                                icon: 'error',
                                loader: true,        // Change it to false to disable loader
                                loaderBg: '#bf441d',  // To change the background
                                position: 'top-right',
                                icon: 'error',
                            });

                        }else if (error.response.status=== 422){
                        $.toast({
                                heading: 'Oh snap!',
                                text: error.response.data.message,
                                icon: 'error',
                                loader: true,        // Change it to false to disable loader
                                loaderBg: '#bf441d',  // To change the background
                                position: 'top-right',
                                icon: 'error',
                            });

                        }

                    }
                });

        }
        },
   created: function(){

      this.getPixaImages();
   }
    }
</script>
