<template>
    <div class="row">
            <h2>Upload Media Files &amp; Share Online</h2>
            <h3>Share your moments online easily</h3>
            <div class="upload_media_row">
                <form action="#" id="upload_media" class="videos_from">
                    <div class="inner row m0">
                        <h2>Upload From</h2>
                        <!-- Button trigger modal -->
                        <a class="pixabay" href="#pixa-modal" data-toggle="modal" data-target="#pixa-modal"><img src="/images/btn/pixabay.png" style="width: 100px;" alt=""></a>
                    </div>
                </form>

                <a class="or_btn" href="#">or</a>
                <form @submit.prevent="formSubmit" id="upload_media_2" method="POST" enctype="multipart/form-data">
                    <input type="file" accept="image/*"  @change='onImageChange' id="uploader" style="display: none;" multiple/>

                    <div class="inner row m0">
                        <h2>Upload From PC</h2>
                        <h6>Via Frontend Uploader</h6>
                        <img src="images/btn/upload-1.png" class="uploadbtn" alt="">
                        <h4 class="uploadbtn">Select files to upload</h4>
                        <div v-if="message != ''" class="alert alert-success" role="alert">
                          {{message}}
                        </div>
                        <div class="container">
                        <!-- <progress max="100" :value="uploadPercentage"></progress> -->
                        <div v-bind:class="[{'hide': uploadPercentage == 100, }]" class="progress" v-show="uploadPercentage > 0 " >
                        <div v-bind:class="[{'bg-warning': uploadPercentage <= 50, },{ 'bg-success': uploadPercentage >= 99,}]" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" v-bind:style="{width: uploadPercentage+'%'}" v-bind:aria-valuenow="uploadPercentage" aria-valuemin="0" aria-valuemax="100">{{ uploadPercentage }}%</div>
                        </div>
                        </div>
                    <button type="submit" class="btn btn-info">Upload Now <i class="bx bx-upload"></i></button>
                    </div>
                </form>
            </div>
        </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Upload Form mounted.')
        },
        data() {
            return {
              image: [],
              lowProgress: 'bg-warning',
              mediumProgress: 'bg-info',
              highProgress: 'bg-primary',
              doneProgress: 'bg-success',
              uploadPercentage: 0,
              message: ''
            };
        },
        methods: {
            onImageChange(e){
                // console.log(e.target.files[0]);
                // this.image = e.target.files[0];
                let selectedFiles=e.target.files;
                if(!selectedFiles.length){
                    return false;
                }
                for(let i=0;i<selectedFiles.length;i++){
                    this.image.push(selectedFiles[i]);
                }
                // console.log(this.image);
                },
            formSubmit(e) {
                e.preventDefault();
                let currentObj = this;
                let formData = new FormData();
                for(let i=0; i<this.image.length;i++){
                    formData.append('image[]', this.image[i]);

                    // console.log(this.image);
                }
                const config = {
                    headers: { 'content-type': 'multipart/form-data' },
                    onUploadProgress: function(progressEvent) {
                        currentObj.uploadPercentage = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
                        console.log(currentObj.uploadPercentage);

                    }
                }
                document.getElementById('uploader').value=[];

                // formData.append('image', this.image);

                axios.post('/api/upload', formData, config)
                .then(function (response) {
                    // console.log(this.uploadPercentage);

                    // currentObj.message = response.data.message;
                    // console.log(response.data.message);
                    // Returning Errors
                    if (response.data.status== 'success'){
                        Event.$emit('imageUploaded');

                        $.toast({
                            heading: 'Well Done!',
                            text: response.data.message,
                            icon: 'success',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#5ba035',  // To change the background
                            position: 'top-right',
                            icon: 'success',
                        });
                    }
                    else if(response.data.status== 'error'){
                        $.toast({
                            heading: 'Oh snap!',
                            text: response.data.message,
                            icon: 'error',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#bf441d',  // To change the background
                            position: 'top-right',
                            icon: 'error',
                        });
                    }

                })
                .catch(function (error) {
                    // currentObj.message = error;
                    // console.log(error);
                    if (error.response) {
                        if (error.response.status=== 413){
                        $.toast({
                                heading: 'Oh snap!',
                                text: 'Oops File too Large',
                                icon: 'error',
                                loader: true,        // Change it to false to disable loader
                                loaderBg: '#bf441d',  // To change the background
                                position: 'top-right',
                                icon: 'error',
                            });

                        }else if (error.response.status=== 422){
                        $.toast({
                                heading: 'Oh snap!',
                                text: error.response.data.message,
                                icon: 'error',
                                loader: true,        // Change it to false to disable loader
                                loaderBg: '#bf441d',  // To change the background
                                position: 'top-right',
                                icon: 'error',
                            });

                        }

                    }
                });
            },

        }
    }
</script>
