<template>
    <div class="row media-grid content_video_posts">
            <article v-for="image in images" :key="image.id" class="col-sm-3 video_post postType3" style="display:block;">
                <div class="inner row m0">
                    <a v-bind:href="'/uploads/'+image.image"><div class="row screencast m0" style="height: 250px; overflow: hidden;">
                        <img v-bind:src="'/uploads/'+image.image" alt="" class="cast img-responsive">
                        <a v-bind:href="'/uploads/'+image.image" class="play_btn"></a>
                    </div></a>
                    <div class="row m0 post_data">
                        <div class="fleft date">Published: <span>{{ moment(image.created_at).fromNow() }}</span></div>
                        <div class="fright views"><a @click.prevent="deleteImage('/api/image/delete/'+image.id)" href="#"><i class="bx bx-trash"></i>Delete</a></div>
                    </div>
                </div>
            </article>

        </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Upload Form mounted.')
        },
        data() {
            return {
              isFinished: false,
              row: 0, // Record selection position
              rowperpage: 9, // Number of records fetch at a time
              buttonText: 'Load More',
              images: [],
              message: ''
            };
        },
        methods: {
            moment: function (value) {
                return moment(value);
            },
            getImages: function(){
                let self = this;
                axios.get('/api/images')
                .then(function (response) {
                    // console.log(response.data);
                    if(response.data !='' ){
                    // Update rowperpage
                        self.images = response.data;


                    }else{
                    self.buttonText = "No more records avaiable.";
                    self.isFinished = true;
                    }
                });
        },
        deleteImage: function(url){
                let self = this;
             axios.delete(url)
                .then(function (response) {
                    // currentObj.message = response.data.message;
                    // console.log(response.data.message);
                    // Returning Errors
                    if (response.data.status== 'success'){
                       self.getImages();

                        $.toast({
                            heading: 'Well Done!',
                            text: response.data.message,
                            icon: 'success',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#5ba035',  // To change the background
                            position: 'top-right',
                            icon: 'success',
                        });
                    }
                    else if(response.data.status== 'error'){
                        $.toast({
                            heading: 'Oh snap!',
                            text: response.data.message,
                            icon: 'error',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#bf441d',  // To change the background
                            position: 'top-right',
                            icon: 'error',
                        });
                    }

                })
                .catch(function (error) {
                    // currentObj.message = error;
                    // console.log(error);
                    if (error.response) {
                        if (error.response.status=== 413){
                        $.toast({
                                heading: 'Oh snap!',
                                text: 'Oops File too Large',
                                icon: 'error',
                                loader: true,        // Change it to false to disable loader
                                loaderBg: '#bf441d',  // To change the background
                                position: 'top-right',
                                icon: 'error',
                            });

                        }else if (error.response.status=== 422){
                        $.toast({
                                heading: 'Oh snap!',
                                text: error.response.data.message,
                                icon: 'error',
                                loader: true,        // Change it to false to disable loader
                                loaderBg: '#bf441d',  // To change the background
                                position: 'top-right',
                                icon: 'error',
                            });

                        }

                    }
                });
        }
        },
   created: function(){
       Event.$on('imageUploaded', () => {
           this.getImages();
       });
      this.getImages();
   }
    }
</script>
